@model IEnumerable<AgenciaViagensRcd.Models.Cliente>

@{
    ViewData["Title"] = "Cadastro realizado";
}


<div class="container text-center">
    <h1 class="display-3 text-center">Cadastro realizado com sucesso!</h1>
    <p class="lead"> Aguarde a confirmação por e-mail... </p><br /> 
    <a asp-controller="Home" asp-action="Index" class="btn btn-success">Voltar ao início</a>
</div>