@model IEnumerable<AgenciaViagensRcd.Models.Suporte>

@{
    ViewData["Title"] = "Enviado";
}

<div class="container text-center">
    <h1 class="display-3 text-center">Mensagem enviada com sucesso!</h1>
    <p class="lead"> Retornaremos o contato em breve. Obrigado! </p><br />
    <a asp-controller="Home" asp-action="Index" class="btn btn-success">Voltar ao início</a>
</div>
