html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff9c4;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10pt;

}

.menu {
    background-color: #00c853;
    text-decoration: none;
    padding: 20pt;




}

.principal {
    margin-left: 80pt;
    margin-right: 80pt;
    background-color: #0277bd;
    padding-bottom: 70pt;
}

.tituloGrande {
    color: white;
    text-align: center;
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
}

.paragrafoPriincipal {
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
}

.botaoGrande {
    display: block;
    width: 100%;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    padding-bottom: 15pt;
    padding-top: 15pt;
    margin-top: 20pt;
    text-align: center;


}
.molde{
    margin-left: 80pt;
    margin-right: 80pt;
    
}

#rodape {
    text-align: center;
    padding: 30pt;



}

.categorias {
    float: left;
    margin-bottom: 80%;
    margin-right: 50px;
    width: 250px;
    height: 100%;
    border: solid red;

}

.produtos {
    width: 100%;
}

.box_produto {
    display: inline-block;
    width: 250px;
    height: 250px;



}

.preco {
    color: red;
}